<?xml version='1.0' encoding='utf-8'?>
<widget id="kl.phonegap.callTest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>geolocation</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>

   <plugin name="cordova-plugin-call-number" spec="https://github.com/ihadeed/cordova-plugin-call-number" source="git" />
<preference name="cordova.plugins.diagnostic.modules" value="LOCATION" />
<plugin name="cordova-plugin-android-permissions" spec="0.11.0"/>
<plugin name="cordova-plugin-geolocation" spec="1"/>


    <access origin="*" />
	
</widget>

